<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAydNDjp3uB3BiBpxR_s1rCh_I2kXjGp70</string>
	<key>GCM_SENDER_ID</key>
	<string>122524339454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTrack</string>
	<key>PROJECT_ID</key>
	<string>finance-goal-tracker-ab8fa</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-goal-tracker-ab8fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122524339454:ios:2c6b6e5870ac76c7ed69af</string>
</dict>
</plist>